# Make sure to install the torch dependencies with conda:
# pip install -r requirements.txt


dm-haiku
optax
tensorflow_datasets
fancy_einsum
einops
tqdm
keras
matplotlib
torch
typing
numpy
tensorflow
torchvision
torchsummary
torchinfo
wandb
